<div class="bg-light border-right" id="sidebar-wrapper" [class.openSidebar]="open">
  <div class="sidebar-heading text-center">Acceso de usuario</div>
  <form [formGroup]="login" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="emailForm" class="form-label">Correo electrónico:</label>
      <input type="email" class="form-control" id="emailForm" formControlName="emailForm">
    </div>
    <div class="mb-3">
      <label for="passForm" class="form-label">Contraseña:</label>
      <input type="password" class="form-control" id="passForm" formControlName="passForm">
    </div>
    <div class="text-center">
      &nbsp;&nbsp;<button class="btn btn-oragen" [disabled]="!login.valid">Iniciar</button>&nbsp;&nbsp;<button class="btn btn-oragen" (click)="handleSideClose()">Cerrar</button>&nbsp;&nbsp;
    </div>
  </form>
</div>