<section class="section__top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-9 p-3 text-center">
        <h1 class="fw-bold">Simuladores</h1>
        <p>Si estás pensando en hacer una calculo, ponemos a tu disposición nuestro simulador de operaciones para que puedas elegir la que mejor se adapta a tus necesidades.</p>
        <hr>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-10 col-sm-5 col-md-4 col-lg-3 p-3 text-center" *ngFor="let opt of buttons">
        <div class="card">
          <img src="{{ opt[2] }}" class="card-img-top" alt="{{ opt[1] }}">
          <div class="card-body">
            <h3 class="card-title fw-bold">{{ opt[1] }}</h3>
            <p class="card-text">Some quick example text to build on the card.</p>
            <a  [routerLink]="['/' + opt[0]]" class="btn btn-outline-oragen">{{ opt[1] }}</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>