<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/heroes">
      <img src="/assets/img/logo.png" alt="" class="brand-logo">
    </a>
    <button class="navbar-toggler peach-gradient" type="button" aria-expanded="false" aria-label="Toggle navigation" (click)="this.navbarOpen = !this.navbarOpen">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bd-highlight" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav text-center ms-auto" (click)="this.navbarOpen = !this.navbarOpen">
        <li class="nav-item">
          <a class="nav-link" routerLink="/heroes">Inicio</a> 
          <!-- Falta el Active -->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sumas">Sumas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/restas">Restas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/otras">Otras</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-success mx-2" (click)="this.clickLogin.emit(true);">Login</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
