<section class="section__top">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>Calculadora de restador</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-lg-6">
        <form [formGroup]="calcForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="nameForm" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="nameForm" formControlName="nameForm" maxlength="20">
          </div>
          <div class="mb-3">
            <label for="firstField" class="form-label">1° Valor:</label>
            <input type="text" class="form-control" id="firstField" formControlName="firstField" required maxlength="10" appOnlyNumbers>
            <div *ngIf="getNumberFC('firstField').hasError('pattern')" class="alert alert-danger px-3 py-1" role="alert"> ¡Por favor, usar solo números! </div>
          </div>
          <div class="mb-3">
            <label for="secondField" class="form-label">2° Valor:</label>
            <input type="text" class="form-control" id="secondField" formControlName="secondField" required maxlength="10" appOnlyNumbers>
            <div *ngIf="getNumberFC('secondField').hasError('pattern')" class="alert alert-danger px-3 py-1" role="alert"> ¡Por favor, usar solo números! </div>
          </div>
          <div class="col-12 text-center">
            <button class="btn btn-primary" type="submit" [disabled]="!calcForm.valid">Restar</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-lg-6 p-4">
        <div class="alert alert-success text-center" role="alert" *ngIf="calcForm.valid">
          <span *ngIf="calcForm.value.nameForm">Sr@. {{ calcForm.value.nameForm }},</span> la resta entre {{ calcForm.value.firstField }} - {{ calcForm.value.secondField }} = <strong>[{{ subtraction(calcForm.value.firstField, calcForm.value.secondField) }}]</strong>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button type="button" class="btn btn-outline-primary mx-auto" routerLink="/home">Regresar</button>
      </div>
    </div>
  </div>
</section>
